.todo__list {
    color: #000000;
    margin-bottom: 40px;

    li:first-of-type {
        margin-bottom: 20px;
    }

    li {
        height: 37px;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease;
        margin-bottom: 2px;

        &.active {
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
        }
        div {
            width: 44.6px;
            display: flex;
            justify-content: left;
        }
        img,
        i {
            margin-left: 12px;
        }
        i {
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 128px;
        }
    }
    li:hover {
        background-color: white;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    }

    li:hover .todo__remove-button {
        opacity: 1;
        cursor: pointer;
    }
}

.todo__remove-button {
    background-image: url("../../images/remove.svg");
    background-repeat: no-repeat;
    height: 10px;
    width: 13px;
    border: none;
    background-color: inherit;
    margin-right: 13px;

    opacity: 0;
}
