.form {
    &__input {
        height: 38px;
        width: calc(100% - 14px * 2);
        margin-bottom: 16px;
        padding-left: 14px;
        padding-right: 14px;
        border: 1px solid #efefef;
        border-radius: 4px;

        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15px;
    }

    &__add-button {
        margin-right: 9px;
        border: none;
        width: 145px;
        height: 34px;
        background-color: #4dd599;
        border-radius: 4px;

        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.15px;

        color: #ffffff;

        transition: opacity 0.3s ease;
    }

    &__close-button {
        border: none;
        width: 90px;
        height: 34px;
        background-color: #f4f6f8;
        border-radius: 4px;

        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.15px;

        color: #9c9c9c;

        transition: opacity 0.3s ease;
    }
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}
