.todo {
    &__button {
        color: #767676;
        border: none;
        background-color: inherit;
        margin-left: 12px;
        transition: opacity 0.3s ease;

        &_task {
            margin-top: 20px;
            margin-left: 14px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.15px;
        }
    }

    &__button:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &__button-icon {
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}
