.popup {
    position: relative;
    top: 13px;
    width: 235px;
    height: 138px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;

    &__close-button {
        position: absolute;
        right: -6px;
        top: -6px;
        width: 20.63px;
        height: 20.63px;
        border: none;
        background-color: inherit;
        border-radius: 50%;
        background-image: url("../../images/close-button.svg");
    }

    &__close-button:hover {
        cursor: pointer;
    }
}

.popup_inactive {
    visibility: hidden;
    opacity: 0;
}
