.todo {
    &__tasks {
        padding: 0px 74px 61px 55px;
        width: 100%;
        overflow-y: scroll;

        &_none-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &_none {
            font-weight: bold;
            font-size: 32px;
            line-height: 39px;
            margin: 0 auto 20px auto;

            color: #c9d1d3;
        }
    }
    &__tasks-wrapper {
        margin-top: 56px;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 31px;
    }
    &__tasks-header {
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;

        color: #64c4ed;

        &_1 {
            color: #c9d1d3;
        }
        &_2 {
            color: #42b883;
        }
        &_3 {
            color: #64c4ed;
        }
        &_4 {
            color: #ffbbcc;
        }
        &_5 {
            color: #b6e6bd;
        }
        &_6 {
            color: #c355f5;
        }
        &_7 {
            color: #09011a;
        }
        &_8 {
            color: #ff6464;
        }
    }
    &__edit-button {
        background-image: url("../../images/edit-button.svg");
        width: 15px;
        height: 15px;
        border: none;
        background-color: inherit;
        margin-left: 14px;
        transition: opacity 0.3s ease;
    }
    &__edit-button:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
